<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dr</key>
	<string>DIGITALREEF</string>
	<key>drId</key>
	<string>614dd8a2c2541b000f38ee5c</string>
	<key>tim</key>
	<string>TIM BRASIL</string>
	<key>timId</key>
	<string>5f322bbeefb7c00001977469</string>
	<key>organization</key>
	<string>IU</string>
	<key>organizationId</key>
	<string>5a294f81993c8f1570c2550d</string>
	<key>cinemark</key>
	<string>Cinemark</string>
	<key>cinemarkId</key>
	<string>6364e260eb28a70050364bd2</string>
	<key>organizationType</key>
	<string>static</string>
	<key>baseOrganization</key>
	<string>DIGITALREEF</string>
	<key>orgSelection</key>
	<string>HOST_APP</string>
	<key>fallbackURL</key>
	<string>https://sdk.digitalreef.com/v1/configs/remote</string>
	<key>timerTriggerConfig</key>
	<string>86400</string>
	<key>version</key>
	<string>2</string>
	<key>buildType</key>
	<string>SDK</string>
	<key>fcmProjectId</key>
	<string>iu-android-sdk</string>
	<key>fcmSenderId</key>
	<string>117519441630</string>
	<key>fbRemoteProjectId</key>
	<string>iu-android-sdk</string>
	<key>fbRemoteAPIKey</key>
	<string>AIzaSyAuiuXvkX3hbXTZv1q1KUh3PbvvTT2tb04</string>
	<key>fbRemoteAppId</key>
	<string>1:117519441630:android:7962cb3d01ff3cc2</string>
</dict>
</plist>
